<extend name="Public:common" />
<block name="content">
	<div class="am-cf am-padding am-padding-bottom-0">
		<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">客户案例管理</strong> / <small>新增</small></div>
	</div>

	<hr>

	<form class="am-form" method="post" action="{: U('CastManager/add') }" enctype="multipart/form-data" >
		<div class="am-g am-margin-top">
			<div class="am-u-sm-4 am-u-md-2 am-text-right">
				站点名称
			</div>
			<div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
				<input type="text" name="sitename" class="am-input-sm">
			</div>
		</div>

		<div class="am-g am-margin-top">
			<div class="am-u-sm-4 am-u-md-2 am-text-right">
				站点地址
			</div>
			<div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
				<input type="text" name="siteurl" class="am-input-sm">
			</div>
		</div>

		<div class="am-g am-margin-top">
			<div class="am-u-sm-4 am-u-md-2 am-text-right">
				站点图片
			</div>
			<div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
				<input type="file" name="siteimg" id="doc-ipt-file-1">
			</div>
		</div>

		<div class="am-g am-margin-top">
			<div class="am-u-sm-4 am-u-md-2 am-text-right">
				状态
			</div>
			<div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
				<select data-am-selected="{btnSize: 'sm'}" name="status" style="display: none;">
					<option value="1">启用</option>
					<option value="0">禁用</option>
				</select>
			</div>
			<div class="am-hide-sm-only am-u-md-6">*必填</div>
		</div>

		<div class="am-g am-margin-top">
			<div class="am-u-sm-8 am-u-sm-offset-2">
				<button type="submit" class="am-btn am-btn-primary">保存修改</button>
			</div>
		</div>
	</form>

</block>