<extend name="Public:common" />
<block name="content">
	<form class="am-form">
		<table class="am-table am-table-striped am-table-hover table-main">
			<thead>
				<tr>
					<th class="table-check"><input type="checkbox"></th>
					<th class="table-id">ID</th>
					<th class="table-title">站点名称</th>
					<th class="table-type">站点网址</th>
					<th class="table-author am-hide-sm-only">站点图片</th>
					<th class="table-date am-hide-sm-only">站点状态</th>
					<th class="table-set">操作</th>
				</tr>
			</thead>
			<tbody>
				<volist name="castinfo" id="vo">

					<tr>
						<td><input type="checkbox"></td>
						<td>{: $vo['id'] }</td>
						<td>
							{: $vo['sitename'] }
						</td>
						<td>
							<a href="{: $vo[siteurl] }">{: $vo['siteurl'] }</a>
						</td>
						<td class="am-hide-sm-only"> <img src="__PUBLIC__/Home/{: $vo['siteimg']}" style="height: 30px;" /></td>
						<td class="am-hide-sm-only">{: checkStatus($vo['status']) }</td>
						<td>
							<div class="am-btn-toolbar">
								<div class="am-btn-group am-btn-group-xs">
									<button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
									<if condition="$vo['status'] eq 1">
										<button class="am-btn am-btn-default am-btn-xs am-hide-sm-only" onclick="location.href='{: U('changeStatus',array('id'=>$vo['id'],'status'=>$vo['status'])) }';return false;"><span class="am-icon-copy"></span> 启用</button>
										<else />
										<button class="am-btn am-btn-default am-btn-xs am-hide-sm-only" onclick="location.href='{: U('changeStatus',array('id'=>$vo['id'],'status'=>$vo['status'])) }';return false;"><span class="am-icon-copy"></span> 禁用</button>
									</if>
									<button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
								</div>
							</div>
						</td>
					</tr>

				</volist>
			</tbody>
		</table>
		<div class="am-cf">
			共
			<?php echo count($castmess);?> 条记录
			<div class="am-fr">
				<ul class="am-pagination">
					<li class="am-disabled">
						<a href="#">«</a>
					</li>
					<li class="am-active">
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">»</a>
					</li>
				</ul>
			</div>
		</div>
		<hr>
		<p>注：.....</p>
	</form>
</block>